*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.textcenter h1{
  color: #DB4267;
  font-family: waltograph;
}
h3{
  color: white;
  font-size: 30px;
}

.one{
  background-color:#42DBB6 ;
  margin-top:50px ;
}
span{
  width: 200px;
  height: 50px;
}
.input [type=radio] {
     display: none;
}
.dos{
  background-color:#42DBB6 ;
  margin-top: 50px;
  
}
.tres{
  background-color:#42DBB6 ;
  margin-top: 50px;
}
.cuatro{
  background-color:#42DBB6 ;
  margin-top: 50px;
}
.cinco{
  background-color:#42DBB6 ;
  margin-top: 50px;
}
#answer{
  font-size: 50px;
  color: #42DBB6;
  
}
#button{
  background-color: #DB4267;
  color: white;
  font-size: 20px;
  position: relative;
  left: 94%;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border-style: none;
}
