*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.uno{
    background-color: #42DBB6;
    width: 80%;
    position: relative;
    left: 10%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.uno input{
    margin-right: 10px;
    margin-top: 20px;
  }
  .uno-1 input[type=radio] {
      display: none;
    }
    .uno-1 input[type=radio] + label {
        padding: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 200px;
        margin: 20px;
     
      }
     .uno-1 input[type=radio] + label:hover {
        border: 1px solid red;
      }
      .uno-1 input[type=radio]:checked + label {
        border: 1px solid red;
      }

.dos{
    background-color: rgb(185, 201, 201);
    width: 80%;
    position: relative;
    left: 10%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dos input{
    margin-right: 10px;
    margin-top: 20px;
  }
  .dos-1 input[type=radio] {
      display: none;
    }
    .dos-1 input[type=radio] + label {
        padding: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 200px;
        margin: 20px;
     
      }
     .dos-1 input[type=radio] + label:hover {
        border: 1px solid red;
      }
      .dos-1 input[type=radio]:checked + label {
        border: 1px solid red;
      }

.tres{
    background-color: rgb(56, 61, 141);
    width: 80%;
    position: relative;
    left: 10%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tres input{
    margin-right: 10px;
    margin-top: 20px;
  }
  .tres-1 input[type=radio] {
      display: none;
    }
    .tres-1 input[type=radio] + label {
        padding: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 200px;
        margin: 20px;
     
      }
     .tres-1 input[type=radio] + label:hover {
        border: 1px solid red;
      }
      .tres-1 input[type=radio]:checked + label {
        border: 1px solid red;
      }
.cuatro{
    background-color: rgb(88, 156, 33);
    width: 80%;
    position: relative;
    left: 10%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cuatro input{
    margin-right: 10px;
    margin-top: 20px;
  }
  .cuatro-1 input[type=radio] {
      display: none;
    }
    .cuatro-1 input[type=radio] + label {
        padding: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 200px;
        margin: 20px;
     
      }
     .cuatro-1 input[type=radio] + label:hover {
        border: 1px solid red;
      }
      .cuatro-1 input[type=radio]:checked + label {
        border: 1px solid red;
      }

.cinco{
    background-color: rgb(108, 57, 138);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80%;
    position: relative;
    left: 10%;
}
 .cinco input{
    margin-right: 10px;
    margin-top: 20px;
  }
  .cinco-1 input[type=radio] {
      display: none;
    }
    .cinco-1 input[type=radio] + label {
        padding: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 200px;
        margin: 20px;
     
      }
     .cinco-1 input[type=radio] + label:hover {
        border: 1px solid red;
      }
      .cinco-1 input[type=radio]:checked + label {
        border: 1px solid red;
      }
