*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.uno{
    background-color: aqua;
    height: 300px;
}
.uno input{
    height: 50px;
    width: 200px;
    border-radius: 5px;
}
.dos{
    background-color: rgb(185, 201, 201);
}
.tres{
    background-color: rgb(56, 61, 141);
}
.cuatro{
    background-color: rgb(88, 156, 33);
}
.cinco{
    background-color: rgb(108, 57, 138);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
 .cinco input{
    margin-right: 10px;
    margin-top: 20px;
  }
  input[type=radio] {
      display: none;
    }
    input[type=radio] + label {
        padding: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        width: 200px;
        margin: 20px;
     
      }
     input[type=radio] + label:hover {
        border: 1px solid red;
      }
      input[type=radio]:checked + label {
        border: 1px solid red;
      }
